Repository taasan/elm-minesweeper: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-format, build

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
  - repo: local
    hooks:
      - id: elm-format
        name: elm-format
        entry: npx elm-format --validate
        language: node
        files: \.elm$
      - id: build
        name: build
        entry: npm run build
        language: node
        files: ^src/
        pass_filenames: false

Use Int instead of Cell i CellMsg
  src/Minesweeper.elm
  src/Types.elm
Due: elm-format, build

Use more explicit pattern
  src/Minesweeper.elm
Due: elm-format, build

Use onVisibilityChange instead of windowBlurred port
  elm.json
  index.js
  src/Main.elm
  src/Types.elm
Due: elm-format, build

Add github action to run pre-commit
  .github/workflows/pre-commit.yml
Due: none

Remove trailing whitespace
  style/index.scss
Due: none

Cache node-modules and elm tools
  .github/workflows/pre-commit.yml
Due: none

deploy: c2ae29ce005edbd94cc5d4cd63cfc128c6a15d8d
  .nojekyll
  android-chrome-192x192.5e850c7b.png
  android-chrome-512x512.c553032a.png
  apple-touch-icon.1a1afe0c.png
  favicon.117daa5c.ico
  favicon.7b1d7fd5.svg
  index.3d89aa9e.css
  index.3d89aa9e.css.map
  index.c719debc.js
  index.c719debc.js.map
  index.html
  manifest.webmanifest
Due: none

Add deployment to github pages
  .github/workflows/pre-commit.yml
  package.json
Due: none

deploy: 0c3b02bc05be1446b143212ea694bd8514cfb96e
  index.3d89aa9e.css.map
  index.html
  manifest.webmanifest
Due: none

Remove unused service worker
  index.js
  serviceWorker.js
Due: none

deploy: 903ab599020ca970396ad8b7f949d0f1894f5137
  index.3d89aa9e.css.map
  index.a6de9535.js
  index.a6de9535.js.map
  index.c719debc.js
  index.c719debc.js.map
  index.html
Due: none

Check game state before doing anything else
  src/Minesweeper.elm
Due: elm-format, build

Open all safe safe cells
  src/Minesweeper.elm
Due: elm-format, build

Simplify expression
  src/Minesweeper.elm
Due: elm-format, build

deploy: a896df2473fb7b078382bf1b6ca207608d5e5a67
  index.3d89aa9e.css.map
  index.6d301451.js
  index.6d301451.js.map
  index.a6de9535.js
  index.a6de9535.js.map
  index.html
Due: none

Actually use the noop function
  src/Main.elm
Due: elm-format, build

Run npm install
  package-lock.json
Due: none

deploy: d097ec0c45c22dc9b1e280be8320dd206eaaf7c8
  index.0bd9bc9d.js
  index.0bd9bc9d.js.map
  index.3d89aa9e.css.map
  index.6d301451.js
  index.6d301451.js.map
  index.html
Due: none

Remove duplicate line
  src/Minesweeper.elm
Due: elm-format, build

Move Incorrect from Flag to Symbol
  src/Minesweeper.elm
  src/Symbol.elm
  src/Types.elm
Due: elm-format, build

Add Level to NewGame and RandomGame
  src/Main.elm
  src/Types.elm
Due: elm-format, build

Some tweaks
  src/Lib.elm
  src/Main.elm
  src/Minesweeper.elm
  style/SvgCell.scss
Due: elm-format, build

deploy: 883d1cbce1a4c5e10e2bd930c58d7c084144bc80
  index.0bd9bc9d.js
  index.0bd9bc9d.js.map
  index.3d89aa9e.css
  index.3d89aa9e.css.map
  index.6ca75685.js
  index.6ca75685.js.map
  index.96b6abca.css
  index.96b6abca.css.map
  index.html
Due: none

Remove text-shadow to prevent text element from becoming too large
  style/SvgCell.scss
Due: none

deploy: 55796c3523da36aef710dca7c9f8cf4b58fb1a47
  index.5bf14f9c.css
  index.5bf14f9c.css.map
  index.96b6abca.css
  index.96b6abca.css.map
  index.html
Due: none

Use lazy to prevent unnecessary updates
  src/Minesweeper.elm
Due: elm-format, build

Use applicative to calculate cell state
  src/Minesweeper.elm
Due: elm-format, build

Add workaround for temporary scroll bars
  style/SvgMinesweeper.scss
Due: none

Add --ok and --not-ok variables and add variables to :root
  style/theme/theme.scss
Due: none

Add elm-review
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pre-commit/elm-review
  review/elm.json
  review/src/ReviewConfig.elm
Due: elm-format

Refactor and add the beginnings of a level chooser
  elm.json
  index.js
  src/LevelChooser.elm
  src/Lib.elm
  src/Main.elm
  src/Minesweeper.elm
  src/Page.elm
  src/Symbol.elm
  src/Types.elm
  style/LevelChooser.scss
  style/SvgCell.scss
Due: elm-format, build

deploy: 80fca5a4341794292651e1e8639d93639ea0cb38
  index.3eb5f7f7.js
  index.3eb5f7f7.js.map
  index.50a282d5.css
  index.50a282d5.css.map
  index.5bf14f9c.css
  index.5bf14f9c.css.map
  index.6ca75685.js
  index.6ca75685.js.map
  index.html
Due: none

Change GotLevel from Maybe Level to Level
  src/LevelChooser.elm
  src/Main.elm
  src/Types.elm
Due: elm-format, build

Distinguish between manual and automatic pausing
  src/LevelChooser.elm
  src/Main.elm
  src/Minesweeper.elm
  src/Symbol.elm
  src/Types.elm
Due: elm-format, build

deploy: 51ee759d96cefde8f88df11466a2056ef2e38e34
  index.1c933011.js
  index.1c933011.js.map
  index.3eb5f7f7.js
  index.3eb5f7f7.js.map
  index.50a282d5.css.map
  index.html
Due: none

Refactor and simplify
  elm.json
  src/LevelChooser.elm
  src/Minesweeper.elm
  src/Types.elm
Due: elm-format, build

deploy: b45ab663a5f165e5269920b89fd29abfbde5df86
  index.1c933011.js
  index.1c933011.js.map
  index.50a282d5.css.map
  index.ed06d19a.js
  index.ed06d19a.js.map
  index.html
Due: none

Add automatic unpause
  src/Main.elm
Due: elm-format, build

deploy: 965d29a4fc3d739e0437c0b71be7ccf2c35acdd9
  index.2bbc52b0.js
  index.2bbc52b0.js.map
  index.50a282d5.css.map
  index.ed06d19a.js
  index.ed06d19a.js.map
  index.html
Due: none

Update dependencies
  index.html
  package-lock.json
  package.json
Due: none
